<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>轻视讯</title>
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <script src="js/main.js"></script>
</head>
<body>
<header>
    <div class="header-content">
        <div class="header-left">
            轻视讯
        </div>
        <div class="header-right">
            <ul>
                <li onclick="login()">一键登录</li>
                <li>观看记录</li>
                <li><input type="text" /></li>
            </ul>
        </div>
    </div>
</header>

<section>
    <div class="advertising box">
        <div class="advertising-w270">
            <a href="play?videoName=蚁人2">
                <div class="brief">
                    <h2><span>蚁人2</span></h2>
                    <h3>男女搭配干活不累</h3>
                </div>
                <img src="./images/advertising/1.jpg" alt="" />
                <div class="play"></div>
            </a>
        </div>
        <div class="advertising-2">
            <div class="advertising-2-top">
                <a href="play?videoName=延禧攻略">
                    <div class="brief">
                        <h2><span>延禧攻略</span></h2>
                        <h3>一路升级打怪</h3>
                    </div>
                    <img src="./images/advertising/2.jpg" alt="" />
                    <div class="play"></div>
                </a>
            </div>
            <div class="advertising-2-bottom">
                <a href="play?videoName=风骚律师 第四季">
                    <div class="brief">
                        <h2><span>风骚律师 第四季</span></h2>
                        <h3>高分美剧</h3>
                    </div>
                    <img src="./images/advertising/3.jpg" alt="" />
                    <div class="play"></div>
                </a>
            </div>
        </div>
        <div class="advertising-3">
            <div class="advertising-3-top">
                <a href="#">
                    <div class="brief">
                        <h2><span>法网追凶|全12集</span></h2>
                        <h3>内地无间道，网友：脑洞全开直逼白夜追凶</h3>
                    </div>
                    <img src="./images/advertising/4.jpg" alt="" />
                    <div class="play"></div>
                </a>
            </div>
            <div class="advertising-3-bottom">
                <div class="advertising-3-bottom-box">
                    <a href="#">
                        <div class="brief">
                            <h2><span>萌妻食神|全56集</span></h2>
                            <h3>最后这次终于要圆房了</h3>
                        </div>
                        <img src="./images/advertising/5.jpg" alt="" />
                        <div class="play"></div>
                    </a>
                </div>
                <div class="advertising-3-bottom-box">
                    <a href="#">
                        <div class="brief">
                            <h2><span>归去来|全50集</span></h2>
                            <h3>书澈原谅萧清两人幸福在一起</h3>
                        </div>
                        <img src="./images/advertising/6.jpg" alt="" />
                        <div class="play"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="advertising-w270"><a href="#">
            <div class="brief">
                <h2><span>如果爱|更新至41集</span></h2>
                <h3>张柏芝逆袭成富婆，恶婆婆身败名裂！</h3>
            </div>
            <img src="./images/advertising/7.jpg" alt="" />
            <div class="play"></div>
        </a>
        </div>
    </div>
</section>

<section>
    <div class="actor">
        <div class="actor-list">
            <img src="./images/actor/1.png" alt="" />
            <h2>唐嫣</h2>
            <h3>《归去来》</h3>
        </div>
        <div class="actor-list">
            <img src="./images/actor/2.png" alt="" />
            <h2>陈坤</h2>
            <h3>《脱身》</h3>
        </div>
        <div class="actor-list">
            <img src="./images/actor/3.png" alt="" />
            <h2>张柏芝</h2>
            <h3>《如果，爱》</h3>
        </div>
        <div class="actor-list">
            <img src="./images/actor/4.png" alt="" />
            <h2>胡定欣</h2>
            <h3>《宫心计2》</h3>
        </div>
        <div class="actor-list">
            <img src="./images/actor/5.png" alt="" />
            <h2>张一山</h2>
            <h3>《家有儿女初长成》</h3>
        </div>
        <div class="actor-list">
            <img src="./images/actor/6.png" alt="" />
            <h2>张翰</h2>
            <h3>《温暖的弦》</h3>
        </div>
        <div class="actor-list">
            <img src="./images/actor/7.png" alt="" />
            <h2>靳东</h2>
            <h3>《守卫者》</h3>
        </div>
        <div class="actor-list">
            <img src="./images/actor/8.png" alt="" />
            <h2>刘涛</h2>
            <h3>《虎啸龙吟》</h3>
        </div>
        <div class="actor-list">
            <img src="./images/actor/9.png" alt="" />
            <h2>关晓彤</h2>
            <h3>《极光之恋》</h3>
        </div>
        <div class="actor-list">
            <img src="./images/actor/10.png" alt="" />
            <h2>陆毅</h2>
            <h3>《人民的名义》</h3>
        </div>
    </div>

    <div class="hot-tag">
        大家都在看：
        <span>全部电视剧</span> <span>读书</span> <span>内地</span> <span>搞笑</span> <span>美剧</span>
        <span>历史</span><span>伦理</span><span>偶像</span><span>日剧</span><span>玄幻</span><span>韩剧</span><span>爱情</span><span>网剧</span><span>警匪</span>
    </div>

    <div class="box">
        <div class="hit">
            <div class="box-title">同步热播</div>
            <div class="box-content">
                <div class="hit-left">
                    <a href="#">
                        <img src="./images/hit/1.jpg" alt="" />
                        <span class="brief">更新至17集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>勇者胜[火热更新]</h2>
                        <h3>杨烽火遭埋伏反俘虏勇者胜</h3>
                    </div>
                </div>
                <div class="hit-right">
                    <div class="content">
                        <a href="#">
                            <img src="./images/hit/2.jpg" alt="" />
                            <span class="brief">更新至20集</span>
                            <div class="play"></div>
                        </a>
                        <div class="title">
                            <h2>爱国者</h2>
                            <h3>张鲁一佟丽娅绝境出击</h3>
                        </div>
                    </div>
                    <div class="content">
                        <a href="#">
                            <img src="./images/hit/3.jpg" alt="" />
                            <span class="brief">全36集</span>
                            <div class="play"></div>
                        </a>
                        <div class="title">
                            <h2>楼外楼</h2>
                            <h3>少奶奶喜得贵子却没有该有的喜庆</h3>
                        </div>
                    </div>
                    <div class="content">
                        <a href="#">
                            <img src="./images/hit/4.jpg" alt="" />
                            <span class="brief">全5集</span>
                            <div class="play"></div>
                        </a>
                        <div class="title">
                            <h2>东方华尔街</h2>
                            <h3>刘德华监制的金融商战剧</h3>
                        </div>
                    </div>
                    <div class="content">
                        <a href="#">
                            <img src="./images/hit/5.jpg" alt="" />
                            <span class="brief">全13集</span>
                            <div class="play"></div>
                        </a>
                        <div class="title">
                            <h2>二龙湖爱请故事</h2>
                            <h3>浩哥爆笑回归！二龙湖的乡村爱情</h3>
                        </div>
                    </div>
                    <div class="content">
                        <a href="#">
                            <img src="./images/hit/6.jpg" alt="" />
                            <span class="brief">全42集</span>
                            <div class="play"></div>
                        </a>
                        <div class="title">
                            <h2>向前一步是幸福</h2>
                            <h3>多女狂追高富帅</h3>
                        </div>
                    </div>
                    <div class="content">
                        <a href="#">
                            <img src="./images/hit/7.jpg" alt="" />
                            <span class="brief">全48集</span>
                            <div class="play"></div>
                        </a>
                        <div class="title">
                            <h2>温暖的弦</h2>
                            <h3>温暖南弦幸福美满 吻戏超甜美</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="box-title">电视剧榜单</div>
            <div class="list-content" id="listContent">
                <a href="#" class="cur">
                    <div class="inner">
                        <img src="./images/list/1.jpg" alt="" />
                    </div>
                    <div class="title"><i>1</i>
                        <span>归去来</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/list/2.jpg" alt="" />
                    </div>
                    <div class="title"><i>2</i>
                        <span>誓言</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/list/3.jpg" alt="" />
                    </div>
                    <div class="title"><i>3</i>
                        <span>勇者胜</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/list/4.jpg" alt="" />
                    </div>
                    <div class="title"><i>4</i>
                        <span>如果，爱</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/list/5.jpg" alt="" />
                    </div>
                    <div class="title"><i>5</i>
                        <span>爱情的边疆</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/list/6.jpg" alt="" />
                    </div>
                    <div class="title"><i>6</i>
                        <span>温暖的弦</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/list/7.jpg" alt="" />
                    </div>
                    <div class="title"><i>7</i>
                        <span>鸡毛飞上天</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/list/8.jpg" alt="" />
                    </div>
                    <div class="title"><i>8</i>
                        <span>我的！体育老师</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-wrapper">
            <div class="box-title">新剧前瞻</div>
            <div class="new-content">
                <div class="content">
                    <a href="#">
                        <img src="./images/new/1.jpg" alt="" />
                        <span class="brief">6月9日首播</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>爱国者</h2>
                        <h3>张鲁一佟丽娅绝境出击</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/new/2.jpg" alt="" />
                        <span class="brief">6月11日首播</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>脱身</h2>
                        <h3>用生命浪漫，凭本事脱身！</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/new/3.jpg" alt="" />
                        <span class="brief">6月18日首播</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>扶摇皇后</h2>
                        <h3>杨幂阮经天演技炸裂</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/new/4.jpg" alt="" />
                        <span class="brief">首播时间待定</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>芸汐传</h2>
                        <h3>江山不换韩芸汐 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/new/5.jpg" alt="" />
                        <span class="brief">首播时间待定</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>凉生我们可不可以不忧伤</h2>
                        <h3>钟汉良霸气表白孙怡</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/new/6.jpg" alt="" />
                        <span class="brief">首播时间待定</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>凰权·弈天下</h2>
                        <h3>陈坤倪妮博弈天下权谋 </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <ul class="banner" id="banner">
            <li class="cur"><img src="./images/new/7.jpg" alt="" /></li>
            <li><img src="./images/new/8.png" alt="" /></li>
            <li><img src="./images/new/9.png" alt="" /></li>
            <li><img src="./images/new/10.jpg" alt="" /></li>
        </ul>
    </div>

    <div class="box">
        <div class="global">
            <div class="box-title">全球追剧 <span>内地 · 韩国 · 香港 · 台湾 · 美国</span></div>
            <div class="box-content">
                <div class="content">
                    <a href="#">
                        <img src="./images/global/1.jpg" alt="" />
                        <span class="brief">更新至20集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>爱国者</h2>
                        <h3>张鲁一佟丽娅绝境出击</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/global/2.jpg" alt="" />
                        <span class="brief">更新至20集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>爱国者</h2>
                        <h3>张鲁一佟丽娅绝境出击</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/global/3.jpg" alt="" />
                        <span class="brief">全36集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>楼外楼</h2>
                        <h3>少奶奶喜得贵子却没有该有的喜庆</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/global/4.jpg" alt="" />
                        <span class="brief">全5集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>东方华尔街</h2>
                        <h3>刘德华监制的金融商战剧</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/global/5.jpg" alt="" />
                        <span class="brief">全13集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>二龙湖爱请故事</h2>
                        <h3>浩哥爆笑回归！二龙湖的乡村爱情</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/global/6.jpg" alt="" />
                        <span class="brief">全42集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>向前一步是幸福</h2>
                        <h3>多女狂追高富帅</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/global/7.jpg" alt="" />
                        <span class="brief">全48集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>温暖的弦</h2>
                        <h3>温暖南弦幸福美满 吻戏超甜美</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/global/8.jpg" alt="" />
                        <span class="brief">全48集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>温暖的弦</h2>
                        <h3>温暖南弦幸福美满 吻戏超甜美</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/global/9.jpg" alt="" />
                        <span class="brief">全48集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>温暖的弦</h2>
                        <h3>温暖南弦幸福美满 吻戏超甜美</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/global/10.jpg" alt="" />
                        <span class="brief">全48集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>温暖的弦</h2>
                        <h3>温暖南弦幸福美满 吻戏超甜美</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="box-title">海外剧日历</div>
            <div id="overseas" class="list-content">
                <a href="#" class="cur">
                    <div class="inner">
                        <img src="./images/overseas/1.jpg" alt="" />
                    </div>
                    <div class="title">
                        <span>摩登家庭第四季</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/overseas/2.jpg" alt="" />
                    </div>
                    <div class="title">
                        <span>尼基塔第一季</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/overseas/3.jpg" alt="" />
                    </div>
                    <div class="title">
                        <span>少狼第五季</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/overseas/4.jpg" alt="" />
                    </div>
                    <div class="title">
                        <span>绿箭侠第三季</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/overseas/5.jpg" alt="" />
                    </div>
                    <div class="title">
                        <span>众神天堂第一季</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/overseas/6.jpg" alt="" />
                    </div>
                    <div class="title">
                        <span>蓝海暮色第一季</span>
                    </div>
                </a>
                <a href="#">
                    <div class="inner">
                        <img src="./images/overseas/7.jpg" alt="" />
                    </div>
                    <div class="title">
                        <span>神盾局特工第二季</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-wrapper">
            <div class="box-title">猜你喜欢 <span>猜的不准？请 <a href="#" onclick="login()">登录</a> 后继续观看</span></div>
            <div class="new-content">
                <div class="content">
                    <a href="#">
                        <img src="./images/like/1.jpg" alt="" />
                        <span class="brief">全38集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>我们的爱</h2>
                        <h3>主演：靳东 潘虹</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/2.jpg" alt="" />
                        <span class="brief">全48集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>吾儿可教</h2>
                        <h3>主演：王刚 于明加</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/3.jpg" alt="" />
                        <span class="brief">全48集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>我的老爸是奇葩</h2>
                        <h3>主演：韩童生 陶慧敏</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/4.jpg" alt="" />
                        <span class="brief">全40集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>我们最美好的十年</h2>
                        <h3>主演：梁静 高叶 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/5.jpg" alt="" />
                        <span class="brief">全40集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>盲约</h2>
                        <h3>主演：蒋欣 陆毅</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/6.jpg" alt="" />
                        <span class="brief">全42集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>人间至味是清欢</h2>
                        <h3>主演：佟大为 陈乔恩 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/7.jpg" alt="" />
                        <span class="brief">全30集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>守卫者</h2>
                        <h3>主演：靳东 韩雨芹 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/8.jpg" alt="" />
                        <span class="brief">全67集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>楚乔传</h2>
                        <h3>主演：赵丽颖 林更新 </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-wrapper">
            <div class="box-title">特别策划 · 高颜值偶像陪你体验生死爱情</div>
            <div class="new-content">
                <div class="content">
                    <a href="#">
                        <img src="./images/special/1.jpg" alt="" />
                        <span class="brief">全32集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>求婚大作战</h2>
                        <h3>张艺兴贡献了屏幕初吻</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/special/2.jpg" alt="" />
                        <span class="brief">全55集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>青云志</h2>
                        <h3>峰峰丽颖终极仙侠</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/special/3.jpg" alt="" />
                        <span class="brief">全40集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>六扇门</h2>
                        <h3>迪丽热巴接班杨幂？</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/special/4.jpg" alt="" />
                        <span class="brief">全69集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>麻雀</h2>
                        <h3>李易峰周冬雨高颜值谍战 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/special/5.jpg" alt="" />
                        <span class="brief">全52集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>古剑奇谭</h2>
                        <h3>师兄恋上小师妹</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/special/6.jpg" alt="" />
                        <span class="brief">全50集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>女医明妃传</h2>
                        <h3>刘诗诗霍建华凄美虐恋 </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-wrapper">
            <div class="box-title">特别策划 · 充电来一发！幸福生活初体验</div>
            <div class="new-content">
                <div class="content">
                    <a href="#">
                        <img src="./images/special/7.jpg" alt="" />
                        <span class="brief">全52集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>一起同过窗2</h2>
                        <h3>鲜肉小花演绎校园纯爱</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/special/8.jpg" alt="" />
                        <span class="brief">全23集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>恶魔少爷别吻我</h2>
                        <h3>痞少刘欢蜕变抗日奇侠</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/special/9.jpg" alt="" />
                        <span class="brief">全30集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>超星星学园</h2>
                        <h3>小鲜肉开启星学园之门</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/special/10.jpg" alt="" />
                        <span class="brief">全39集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>那年青春我们正好</h2>
                        <h3>刘诗诗郑恺高甜虐恋 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/special/11.jpg" alt="" />
                        <span class="brief">全36集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>何以笙箫默</h2>
                        <h3>钟汉良唐嫣爱情不将就</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/special/12.jpg" alt="" />
                        <span class="brief">全42集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>麻辣变形计</h2>
                        <h3>热巴马可变热血保镖 </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-wrapper">
            <div class="box-title">超级网剧 <span>偶像 · 动作 · 奇幻 · 喜剧 · 犯罪</span></div>
            <div class="new-content">
                <div class="content">
                    <a href="#">
                        <img src="./images/like/1.jpg" alt="" />
                        <span class="brief">全20集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>不爱不归</h2>
                        <h3>油画家青春爱情故事</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/2.jpg" alt="" />
                        <span class="brief">全48集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>老九门</h2>
                        <h3>陈伟霆舍命相救</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/3.jpg" alt="" />
                        <span class="brief">全12集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>卧底2</h2>
                        <h3>曲经遭下套达母被抓 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/4.jpg" alt="" />
                        <span class="brief">全12集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>思美人之山鬼后裔</h2>
                        <h3>莫愁教你算命识人 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/5.jpg" alt="" />
                        <span class="brief">全12集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>寻人大师</h2>
                        <h3>全明星开启暖心治愈之旅</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/6.jpg" alt="" />
                        <span class="brief">全24集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>废柴兄弟5泰爽</h2>
                        <h3>张海宇见偷渡大佬认怂 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/7.jpg" alt="" />
                        <span class="brief">全24集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>最好的我们</h2>
                        <h3>路星河式长情告白 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/like/8.jpg" alt="" />
                        <span class="brief">全12集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>盗墓笔记</h2>
                        <h3>李易峰“墓底探险” </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-wrapper">
            <div class="box-title">大陆热剧 <span>网剧 · 家庭 · 乡村 · 历史 · 战争</span></div>
            <div class="new-content">
                <div class="content">
                    <a href="#">
                        <img src="./images/chn/1.jpg" alt="" />
                        <span class="brief">全52集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>人民的名义</h2>
                        <h3>陆毅携老戏骨反腐</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/chn/2.jpg" alt="" />
                        <span class="brief">全40集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>小情人</h2>
                        <h3>胡军金晨父女兵法</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/chn/3.jpg" alt="" />
                        <span class="brief">全72集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>思美人</h2>
                        <h3>马可爱上女奴张馨予</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/chn/4.jpg" alt="" />
                        <span class="brief">全36集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>深夜食堂</h2>
                        <h3>黄磊为30位大咖食客上菜 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/chn/5.jpg" alt="" />
                        <span class="brief">全56集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>折天记</h2>
                        <h3>鹿晗上演逆天改命</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/chn/6.jpg" alt="" />
                        <span class="brief">全48集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>夏至未至</h2>
                        <h3>陈学冬郑爽话青春 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/chn/7.jpg" alt="" />
                        <span class="brief">全55集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>欢乐颂2</h2>
                        <h3>五美感情再掀波澜 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/chn/8.jpg" alt="" />
                        <span class="brief">全67集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>楚乔传</h2>
                        <h3>赵丽颖逆袭蜕变女战神 </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-wrapper">
            <div class="box-title">日韩新剧 <span>古装 · 青春 · 犯罪 · 奇幻 · 商战</span></div>
            <div class="new-content">
                <div class="content">
                    <a href="#">
                        <img src="./images/jpn/1.jpg" alt="" />
                        <span class="brief">更新至6集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>女神探夏洛克</h2>
                        <h3>傲娇侦探x医生小姐姐</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/jpn/2.jpg" alt="" />
                        <span class="brief">全10集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>终结一吻</h2>
                        <h3>壁咚床咚强吻水中吻</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/jpn/3.jpg" alt="" />
                        <span class="brief">全20集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>任意依恋</h2>
                        <h3>裴秀智受伤撒娇求抱抱</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/jpn/4.jpg" alt="" />
                        <span class="brief">全10集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>太太请小心轻放</h2>
                        <h3>一场在厨房发生的爱情 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/jpn/5.jpg" alt="" />
                        <span class="brief">全12集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>陌生访客</h2>
                        <h3>美女房客帅房东</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/jpn/6.jpg" alt="" />
                        <span class="brief">全16集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>灰姑娘与四骑士</h2>
                        <h3>灰姑娘偶遇三骑士 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/jpn/7.jpg" alt="" />
                        <span class="brief">全20集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>请回答1988</h2>
                        <h3>双门洞胡同的温情故事 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/jpn/8.jpg" alt="" />
                        <span class="brief">全16集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>太阳的后裔</h2>
                        <h3>宋仲基宋慧乔游巴厘岛 </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-wrapper">
            <div class="box-title">经典美剧 <span>战争 · 喜剧 · 家庭 · 犯罪 · 动作</span></div>
            <div class="new-content">
                <div class="content">
                    <a href="#">
                        <img src="./images/usa/1.jpg" alt="" />
                        <span class="brief">全12集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>全境通告</h2>
                        <h3>艾达遭受丹尼威胁</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/usa/2.jpg" alt="" />
                        <span class="brief">全8集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>异人族</h2>
                        <h3>黑蝠王被逮捕</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/usa/3.jpg" alt="" />
                        <span class="brief">全10集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>超越</h2>
                        <h3>昏迷12年醒来产生超自然</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/usa/4.jpg" alt="" />
                        <span class="brief">全23集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>黑名单 第三季</h2>
                        <h3>卡拉库尔特自杀未遂 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/usa/5.jpg" alt="" />
                        <span class="brief">全10集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>癫狂之旅 第1季</h2>
                        <h3>癫狂四人遭毒贩绑架</h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/usa/6.jpg" alt="" />
                        <span class="brief">全10集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>镜花水月 第2季</h2>
                        <h3>真人包装真假秀 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/usa/7.jpg" alt="" />
                        <span class="brief">全10集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>秘密与谎言 第2季</h2>
                        <h3>神秘死亡引发的信任危机 </h3>
                    </div>
                </div>
                <div class="content">
                    <a href="#">
                        <img src="./images/usa/8.jpg" alt="" />
                        <span class="brief">全12集</span>
                        <div class="play"></div>
                    </a>
                    <div class="title">
                        <h2>亿万财富之战</h2>
                        <h3>财富巨匠之间斗争 </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer"></div>
</footer>

<div id="loginMock" class="login-mock">
    <div class="login">
        <div class="login-wrapper">
            <div class="login-title">轻视讯 · 登录
                <div id="close" class="close" onclick="closeLogin()">×</div>
            </div>
            <div class="login-content">
                <div class="info-container">
                    <input type="text" placeholder="请输入手机号或邮箱" />
                </div>
                <div class="info-container">
                    <input type="text" placeholder="请输入密码" /></div>
                <div class="login-button">
                    <input type="submit" value="登录" />
                </div>
            </div>
            <div class="login-footer">手机扫码登录 | 其他方式登录</div>
        </div>
    </div>
</div>

<div id="videoMock" class="video-mock">
    <div class="video">
        <div class="video-title">轻视讯 · 视频播放
            <div id="videoClose" class="video-close" onclick="videoClose()">×</div>
        </div>
        <video id="videoWindow" th:src="${videoPath}" controls="controls"></video>
    </div>
</div>

</body>
</html>